.item-row {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

.border-bottom-light {
    border-bottom: 1px solid lightgray;
}

.padding-bottom {
    padding-bottom: 5px;
}

.item-row p {

    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;


    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cart-image-container {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.cart-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.border-1 {
    border: 1px solid rgb(33,33,33);
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}