.example-spacer {
    flex: 1 1 auto;
}

.cart-content-wrapper {
    width: 85%;
    padding: 15px;
}

.cart-image-container {
    max-width: 100px;
    max-height: 60px;
    overflow: hidden;
}

.cart-image-container > img {
    width: 100px;
    height: 60px;
    object-fit: contain;
}

.cart-image-container {
    width: 100px !important;
    height: 100px !important;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.padding-left-right {
    padding-left: 20px;
    padding-right: 20px;
}

.cart-image {
    object-fit: cover;
}

/* .quantity-button {
    
} */

.border-1 {
    border: 1px solid rgb(33,33,33);
    border-radius: 5px;
}

.checkout-content {
    padding: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}