<div class="cart-wrapper" fxFlex="100%" fxLayout="column" fxLayoutAlign="start center">
  <div class="cart-content-wrapper" fxLayout="row nowrap" fxLayoutAlign="center start">

    <div class="cart-table" fxFlex="80%" fxFill>

      <mat-table [dataSource]="cartSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="nummero">
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled>No.</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">{{ (pag.pageIndex * pag.pageSize) + (i + 1) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="imagePath">
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled>Image</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="cart-image-container" fxFlex fxLayout="column" fxLayoutAlign="center start">
              <img src="{{ element.imagePath }}"/>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.category }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subCategory">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Subcategory</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.subCategory }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="manufacturer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.manufacturer }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address.city">
          <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.address.city }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="score">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.score }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="leftInStock">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Left in stock</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.leftInStock }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell class="padding-left-right" *matHeaderCellDef mat-sort-header >Quantity</mat-header-cell>
          <mat-cell class="padding-left-right" *matCellDef="let element" fxFlex >

            <div fxFlex="100%" style="overflow: hidden;">
              <div fxFlex="50%">
                <mat-form-field fxFlex="100%">
                  <input
                    #qValue
                    disabled
                    type="number"
                    matInput
                    name="quantity"
                    min="1"
                    max="element.leftInStock"
                    [value]="getCurrentProductQuantityFromCart(element) | number"
                    />
                </mat-form-field>
              </div>
              <div fxFlex="50%" class="quantity-button-container" fxLayout="column">
                <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
                  <button class="quantity-button" mat-raised-button color="primary" (click)="increaseProductQuantity(qValue?.value, element)" >+</button>
                  <button class="quantity-button" mat-raised-button color="warn" (click)="decreaseProductQuantity(qValue?.value, element)" >-</button>
                </div>
              </div>
            </div>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled>Remove</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="removeFromCart(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="disclaimer">
          <mat-footer-cell *matFooterCellDef colspan="12">
            <b>Total items in your cart: &nbsp; {{ getCartSize() }}</b>
          </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedCartColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedCartColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['disclaimer']"></mat-footer-row>


      </mat-table>
      <mat-paginator #pag [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <span class="example-spacer"></span>

    <div class="cart-checkout" fxFlex fxLayout="column nowrap" fxLayoutAlign="center center">
        <div class="border-1 checkout-content" fxFlex="85%" fxLayout="column nowrap" fxLayoutAlign="center center">
          
          <div fxFlex fxLayout="column nowrap" fxLayoutAlign="center start" fxLayoutGap="5px">
            <h2>Cart total:</h2>
            <h2>{{ calculateTotal() | currency }}</h2>
          </div>
          <div fxFlex fxLayout="column nowrap" fxLayoutAlign="center center">
            <p>Payment method:</p>
            <mat-form-field appearance="fill">
                <mat-label>Payment method</mat-label>
                <mat-select [(ngModel)]="paymentValue">
                  <mat-option *ngFor="let p of paymentMethods" [value]="p">
                    {{p}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <button mat-raised-button color="accent" (click)="buy()">Checkout</button>
          </div>
          
        </div>
    </div>

  </div>
</div>

