<mat-table [dataSource]="items" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef >Item name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef >Item description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef >Item price</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.price | currency }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef >Quantity</mat-header-cell>
    <mat-cell *matCellDef="let element"><input matInput #kolicina="ngModel" (change)="azuriraj(kolicina, element.id)" min="1" max="{{element.leftInStock}}" ngModel type="number"></mat-cell>
  </ng-container>
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef >Total</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ (element.price * element.quantity) | number }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>

<!--
  Paginacija / Stranicenje
  https://material.angular.io/components/paginator/api
 -->

 <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 7, 15]"></mat-paginator>

 <h2>In total: {{ calculateTotal() }}</h2>

 <div>
   <button mat-raised-button color="accent" (click)="buy()">Checkout</button>
 </div>
