.top-div{
  width: 100%;
}

#matDialogContentCustom {
  place-content: start;
  align-items: start;
}

model-viewer {
  min-height: 500px !important;
}

model-viewer#reveal {
  background-color: transparent;
}

mat-list {
  width: 100%
}

mat-tab-group {
  width: 100%;
}