<button mat-button [mat-dialog-close]="true">
  <mat-icon matListIcon>close</mat-icon>
</button>

<mat-dialog-content  fxLayout="row nowrap" fxLayoutAlign="start start">
  <div fxFlex="80%" fxLayout="column wrap" fxLayoutAlign="start center">
    <div class="top-div">
      <model-viewer
        fxFlexFill
        id="reveal"
        camera-controls
        alt="A 3D model of a sphere"
        loading="eager"
        autoplay
        src="{{ data.modelPath }}"
        auto-rotate
        rotation-per-second="40deg"
      >
      </model-viewer>
    </div>

    <div class="top-div" >
      <h2>{{data.name}}</h2>
    </div>

    <div class="top-div" fxFlex fxLayout="column wrap" fxLayoutAlign="start start">
      <mat-tab-group dynamicHeight mat-stretch-tabs class="tabovi">

        <mat-tab label="Description">
          <div >
            <p>{{data.description}}</p>
          </div>
        </mat-tab>

        <mat-tab label="Reviews">
          <div fxFlex fxLayout="column nowrap" fxLayoutAlign="center start">
            <div class="top-div " *ngFor="let review of reviews" fxLayout="column nowrap">
              <div fxFlex fxLayoutAlign="space-between" fxLayout="row nowrap">
                <div>
                  <b><p>{{review.user.id}} &nbsp;|&nbsp; {{ review.dateCreated | date }} </p></b>
                </div>
                <div fxLayoutAlign="center center">
                  <star-rating fxFlex
                  [value]="review.score"
                  [totalstars]="5"
                  checkedcolor="red"
                  uncheckedcolor="black"
                  size="24px"
                  readonly="true"
                  ></star-rating>
                </div>

              </div>
              <div id="description">
                <p>{{review.comment}}</p>
              </div>
            </div>
          </div>

        </mat-tab>

      </mat-tab-group>
    </div>

  </div>

  <div fxFlex="20%" fxLayout="column nowrap" fxLayoutAlign="start center">
    <div class="product-info">

      <h3>Price: {{ data.price | currency }}</h3>
      <p>Left in stock: {{ data.leftInStock }}</p>
      <button mat-raised-button color="accent" (click)="addToCart()">
        Add to cart <mat-icon>shopping_cart_add</mat-icon>
      </button>
    </div>
    <div class="product-info">
      <h3>Product details:</h3>
      <p>Manufacturer: {{ data.manufacturer }}</p>
      <p>Rating: {{ data.score }}</p>
      <p>Category: {{ data.category }}</p>
      <p>Subcategory: {{ data.subCategory }}</p>
    </div>

  </div>
</mat-dialog-content>
