<button mat-button [mat-dialog-close]="true">
  <mat-icon matListIcon>close</mat-icon>
</button>

<mat-dialog-content  fxLayout="row nowrap" fxLayoutAlign="start start">
  <div fxFlex="80%" fxLayout="column wrap" fxLayoutAlign="start center">
    <div class="top-div">
      <model-viewer
        fxFlexFill
        id="reveal"
        camera-controls
        alt="A 3D model of a sphere"
        loading="eager"
        autoplay
        src="{{ data.modelPath }}"
        auto-rotate
        rotation-per-second="40deg"
      >
      </model-viewer>
    </div>

    <div class="top-div" >
      <h2>{{data.name}}</h2>
    </div>

    <div class="top-div" fxFlex fxLayout="column wrap" fxLayoutAlign="start start">
      <mat-tab-group dynamicHeight>

        <mat-tab label="Description">
          <div>
            <p>{{data.description}}</p>
          </div>
        </mat-tab>

        <mat-tab label="Reviews">
          <div fxFlex fxLayout="column nowrap" fxLayoutAlign="center start">
            <div class="top-div" *ngFor="let review of reviews" style="background-color: aqua; border: 1px solid black;">
              <div>
                {{review.user.id}} | {{ review.dateCreated | date }} |
                <star-rating
                value="{{review.score}}"
                totalstars="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="24px"
                readonly="true"
                ></star-rating>
              </div>
              <div>
                <p>{{review.comment}}</p>
              </div>
            </div>
          </div>


          <!-- <mat-list>
            <mat-list-item *ngFor="let review of reviews" fxLayout="column nowrap">
              <div fxLayout="column nowrap">
                <div>
                  {{review.user.id}} | {{ review.dateCreated | date }} |
                  <star-rating
                  value="{{review.score}}"
                  totalstars="5"
                  checkedcolor="red"
                  uncheckedcolor="black"
                  size="24px"
                  readonly="true"
                  ></star-rating>
                </div>
                <div>
                  <p>{{review.comment}}</p>
                </div>
              </div>
            </mat-list-item>
           </mat-list> -->

        </mat-tab>

      </mat-tab-group>
    </div>

  </div>

  <div fxFlex="20%" fxLayout="column wrap" fxLayoutAlign="start center">
    <p>{{ data.name }}</p>
    <p>{{ data.description }}</p>
    <p>{{ data.price }}</p>
    <star-rating
    value="3"
    totalstars="5"
    checkedcolor="red"
    uncheckedcolor="black"
    size="24px"
    readonly="true"
    ></star-rating>
  </div>
</mat-dialog-content>
