<div fxFlex fxFlexFill class="mat-app-background appcomp" [ngClass]="isDarkTheme? 'darkMode' : '' " fxLayout>
  <!-- <img
    class="app-bg"
    src="https://i.imgur.com/VxTybJO.jpeg"
    alt="background-image"
  /> -->
  <!-- 
    https://i.imgur.com/gFHFqXL.jpeg  -- elipse
    https://i.imgur.com/3exdnGV.jpeg  -- croped
    https://i.imgur.com/zuugiTD.jpeg  -- original

    https://i.imgur.com/VxTybJO.jpeg  -- blue bg original
    https://i.imgur.com/E0UJkoZ.jpeg  -- blue bg crop

   -->
  <div fxFlex fxFlexFill class="app-content">
    <mat-toolbar color="primary" class="tool-bar">
      <div>
        <a routerLink="/">Logo</a>
      </div>
      &nbsp;
      &nbsp;
      &nbsp;
      <span><a routerLink="/">KVA shop</a></span>
      <!-- <span class="example-spacer"></span> -->

      <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
        <a *ngIf="(isLoggedIn$ | async) as isLoggedIn" routerLink="/products">Browse products</a>
        &nbsp; <div> | </div>
        <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" routerLink="/login">Login</a>
        &nbsp;
        <a *ngIf="!(isLoggedIn$ | async) as isLoggedIn" routerLink="/signup">Signup</a>
        &nbsp;
        &nbsp;
        <a *ngIf="(isLoggedIn$ | async) as isLoggedIn" routerLink="/welcome">Logout</a>
      </div>
      &nbsp;
      &nbsp;
      <div>
        <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkTheme">
          <mat-icon>dark_mode</mat-icon>
        </mat-slide-toggle>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
    
</div>