.appcomp {
    min-height: 120vh;
    /* background-image: url(https://i.imgur.com/zuugiTD.jpeg);
    background-position: center;
    background-repeat: no-repeat; */
    /* overflow: auto; */
    position: relative;
}

.appcomp * {
    z-index: 1;
}

.app-content {
    position: relative;
}

.tool-bar {
    background: transparent !important;
}

.logo > a > img {
    height: 64px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.logoutLink {
    cursor: pointer;
}