.appcomp {
    min-height: 100vh;
    /* background-image: url(https://i.imgur.com/zuugiTD.jpeg);
    background-position: center;
    background-repeat: no-repeat; */
    overflow: auto;
    position: relative;
}

.app-bg {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.app-content {
    position: relative;
}

.tool-bar {
    background: transparent !important;
}
  
.example-spacer {
    flex: 1 1 auto;
}
  
.mat-tab-custom {
    width: 50% !important;
}