/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #cecece;
}

.dialog-responsive {
    width: 40%;
}

@media only screen and (max-width: 760px) {
    .dialog-responsive {
        width: 100%;
    }
}

.mat-tab-body-wrapper{
    flex-grow: 1;
}