<div fxLayout="column" fxLayoutAlign="center center">
  <h1>Welcome to our app</h1>

  <h1>Community / comments</h1>
  <p>add comments</p>

  <model-viewer
  camera-controls alt="A 3D model of a sphere"
  autoplay
  src="../../assets/bugatti/bugatti.gltf"
  poster="../../assets/dagger/dagger.png"
  shadow-intensity="1"
  auto-rotate
  rotation-per-second="30deg"
  reveal="interaction"
  onmouseover="dismissPoster();"
  onmouseout="showPoster();"
  >
  </model-viewer>
  <!-- reveal="interaction" -->

</div>

