<div fxLayout="column" fxLayoutAlign="center center">
  <h1>Welcome to our app</h1>

  <h1>Community / comments</h1>
  <p>add comments</p>

  <model-viewer id="reveal"
  camera-controls alt="A 3D model of a sphere"
  loading="eager"
  autoplay
  src="http://localhost:8080/products/download?fileName=model-veliki-stampac-za-modele.glb"
  poster="http://localhost:8080/products/download?fileName=poster-veliki-stampac-za-modele.png"
  auto-rotate
  rotation-per-second="40deg"
  reveal="interaction"
  onmouseover="dismissPoster();"
  >
  </model-viewer>
  <!-- reveal="interaction" -->

</div>

