<img
    class="app-bg"
    src="https://i.imgur.com/VxTybJO.jpeg"
    alt="background-image"
/>
<div class="welcome-content" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
    

    <h1>Welcome to KVA shop!</h1>

    <div class="wrapper-1" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <div [ngClass]="'top-div'" fxFlex="50%" fxFlexFill fxLayout="column wrap" fxLayoutAlign="center center">
            <h2>Great place for your shopping plans!</h2>
            <p>We bring your models to life! Browse, select, order and we ship!</p>
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlexAlign="start" fxLayoutGap="5px">
                <button mat-button style="background-color:rgb(0, 102, 255); color:white" (click)="goNavigate('login')">Login</button>
                <button mat-button style="background-color:rgb(255, 158, 58); color:white" (click)="goNavigate('signup')">Signup</button>
            </div>
        </div>
        <div [ngClass]="'top-div'" fxFlex="50%" fxFlexFill fxLayout="column wrap" fxLayoutAlign="center center">
            <model-viewer  fxFlexFill  id="reveal"
            camera-controls alt="A 3D model of a sphere"
            loading="eager"
            autoplay
            src="../../assets/dagger/scene.glb"
            auto-rotate
            rotation-per-second="40deg"
            >
            </model-viewer>
        </div>
    </div>

    <div [ngClass]="'mid-container-1'" fxFlex fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
        <div [ngClass]="'mid-item'" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
            <div [ngClass]="'mid-item-img-container'">
                <img src="https://i.imgur.com/Odd2HRE.jpeg" [ngClass]="'mid-item-img'" />
            </div>
            <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
                <h2>Lorem ipsum placeholder text here lala dasdas dasd sadasd asdas dasd</h2>
                <button mat-button style="background-color:rgb(0, 102, 255); color:white" (click)="goNavigate('')">Placeholder</button>
            </div>
        </div>

        <div [ngClass]="'mid-item'" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
            <div [ngClass]="'mid-item-img-container'">
                <img src="https://i.imgur.com/O6MlqZj.png" [ngClass]="'mid-item-img'" />
            </div>
            <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
                <h2>Lorem ipsum placeholder text here lala</h2>
                <button mat-button style="background-color:rgb(0, 102, 255); color:white" (click)="goNavigate('')">Placeholder</button>
            </div>
        </div>

        <div [ngClass]="'mid-item'" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
            <div [ngClass]="'mid-item-img-container'">
                <img src="https://i.imgur.com/8vUz2pU.png" [ngClass]="'mid-item-img'" />
            </div>
            <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
                <h2>Lorem ipsum placeholder text here lala</h2>
                <button mat-button style="background-color:rgb(0, 102, 255); color:white" (click)="goNavigate('')">Placeholder</button>
            </div>
        </div>
    </div>

    <div [ngClass]="'mid-container-2'" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div>
            <h2>A variety of models to choose from</h2>
        </div>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
            <!-- Delivery -->
            <div fxFlex="50%" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center center">
                <div [ngClass]="'mid-item-img-container-2'">
                    <img src="https://i.imgur.com/HzMzVeG.png"  [ngClass]="'mid-item-img-2'"/>
                </div>
                <div>
                    <p [ngClass]="'mid-p'">Delivery available in the Republic of Serbia (for now)! Be on the lookout for when we expand!</p>
                </div>
            </div>
            <!-- Social -->
            <div fxFlex="50%" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center center">
                <div [ngClass]="'mid-item-img-container-2'">
                    <img src="https://i.imgur.com/rDmUmUD.png"  [ngClass]="'mid-item-img-2'"/>
                </div>
                <div>
                    <p [ngClass]="'mid-p'">Leave a comment, see what others think about our products and make a safe purchase.</p>
                </div>
            </div>
        </div>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
            <!-- Rating -->
            <div fxFlex="50%" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center center">
                <div [ngClass]="'mid-item-img-container-2'">
                    <img src="https://i.imgur.com/6kg4GV8.png"  [ngClass]="'mid-item-img-2'"/>
                </div>
                <div>
                    <p [ngClass]="'mid-p'">Rate your purchase, so that others and we can see how your experience was. It also helps us improve.</p>
                </div>
            </div>
            <!-- Payment -->
            <div fxFlex="50%" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center center">
                <div [ngClass]="'mid-item-img-container-2'">
                    <img src="https://i.imgur.com/aoRIPZ5.png"  [ngClass]="'mid-item-img-2'"/>
                </div>
                <div>
                    <p [ngClass]="'mid-p'">We support a couple of different payment options. Most popular being VISA debit card and PayPal.</p>
                </div>
            </div>
        </div>
        <div>
            
        </div>
    </div>

    
</div>

